.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(var(--cor-p1), var(--cor-p2));
  border-radius: 4px;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: var(--cor-p5);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
}

.botao:hover {
  background: linear-gradient(var(--cor-p2), var(--cor-p3));
}

@media (max-width: 1200px) {
  .botao {
    font-size: 1rem;
    padding: 14px 28px;
  }
}

@media (max-width: 800px) {
  .botao {
    font-size: 0.85rem;
    padding: 10px 24px;
  }
}

@media (max-width: 600px) {
  .botao {
    font-size: 0.75rem;
    padding: 8px 16px;
  }
}
